<%- include('../partials/header') %>

<main>
    <form id="editPerf" action="/performers/<%= performer._id %>?_method=PUT" method="POST">
        <label>Name: </label><br>
        <input type="text" name="name" value="<%= performer.name %>"><br>
        <label>Birthdate: </label><br>
        <input type="Date" name="born"><br>
        <label>Bio: </label><br>
        <textarea name="bio"><%= performer.bio %></textarea><br>
        <input type="submit" value="Update Performer">
    </form>
</main>

<%- include('../partials/footer') %>