<%- include('../partials/header') %>

<main>
    <section>
        <h2><%= performer.name %></h2>
        <img class="pImg" src="<%= performer.showimg %>" alt="Performer Image">
        <div class="catHeads">Birthdate: </div>
        <div><%= performer.born.toLocaleDateString() %></div>
        <div class="catHeads">Bio: </div>
        <div><%= performer.bio %></div>
        <div class="catHeads">Roles: </div>
        <ul>
            <% performer.roles.forEach(function(r){ %>
            <li class="castNames"><%= r %></li>
            <% }) %>
        </ul>
    </section>
    <% if (user){ %>
    <a class="linkBtn" href="/performers/<%= performer._id %>/edit">Edit Performer</a><br>
    <a class="linkBtn" href="/performers/<%= performer._id %>/remove">Delete Performer</a>
    <% } else {} %>
</main>

<%- include('../partials/footer') %>