<%- include('../partials/header') %>

<main>
    <section>
        <div class="perfHeads">Name: </div>
        <div><%= performers.name %></div>
        <div class="perfHeads">Birthdate: </div>
        <div><%= performers.born %></div>
        <div class="perfHeads">Bio: </div>
        <div><%= performers.bio %></div>
        <div class="perfHeads">Roles: </div>
        <ul>

        </ul>
    </section>
    <% if (user){ %>
    <a href="/performers/<%= performers._id %>/addRoll"><input type="submit" value="Add a Role"></a>
    <a href="/performers/<%= performers._id %>/edit"><input type="submit" value="Edit"></a>
    <% } else {} %>
</main>

<%- include('../partials/footer') %>