<%- include('../partials/header') %>

<main>
    <section>
        <div class="perfHeads">Name: </div>
        <div><%= performer.name %></div>
        <div class="perfHeads">Birthdate: </div>
        <div><%= performer.born %></div>
        <div class="perfHeads">Bio: </div>
        <div><%= performer.bio %></div>
        <div class="perfHeads">Roles: </div>
        <ul>

        </ul>
    </section>
    <% if (user){ %>
    <a href="/performer/<%= performer._id %>/addRoll"><input type="submit" value="Add a Role"></a>
    <a href="/performer/<%= performer._id %>/edit"><input type="submit" value="Edit Performer"></a>
    <a href="/performer/<%= performer._id %>/remove"><input type="submit" value="Delete Performer"></a>
    <% } else {} %>
</main>

<%- include('../partials/footer') %>