<%- include('partials/header') %>

<main>
  <h3>Production Catalog</h3>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <% productions.forEach(function(p) { %>
        <tr>
          <td><a class="prodTitles" href="/production/<%= p._id %>"><%= p.title %></a></td>
          <td><%= p.genre %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</main>

<%- include('partials/footer') %>