<%- include('partials/header') %>

<main>
  <h2>Production Catalog</h2>
  <div>
    <p>Sort by:</p>
    <a class="sortHeads" href="/?sortBy=title">Title</a>
    <a class="sortHeads" href="/?sortBy=genre">Genre</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Genre</th>
        <br>
      </tr>
    </thead>
    <tbody>
      <% productions.forEach(function(p) { %>
        <tr>
          <td>
            <a class="pHeads" href="/productions/<%= p._id %>">
              <img class="idxImg" src="<%= p.showimg %>" alt="No Image"><br>
              <%= p.title %></a>
          </td>
          <td><%= p.genre %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</main>

<%- include('partials/footer') %>