<%- include('../partials/header') %>

<main>
    <form id="editProd" action="/productions/<%= production._id %>?_method=PUT" method="POST">
        <label>Title:</label><br>
        <input type="text" name="title" value="<%= production.title %>"><br>
        <label>Production Image:</label><br>
        <input type="text" name="showimg" value="<%= production.showimg %>"><br>
        <label>Playwright:</label><br>
        <input type="text" name="playwright" value="<%= production.playwright %>"><br>
        <label>Debut:</label><br>
        <input type="Date" name="debut"><br>
        <label>Genre:</label><br>
        <input type="text" name="genre" value="<%= production.genre %>"><br>
        <label>Synopsis:</label><br>
        <textarea id="syn" name="synopsis"><%= production.synopsis %></textarea><br>
        <input type="submit" value="Edit Production">
    </form>
</main>

<%- include('../partials/footer') %>