<%- include('../partials/header') %>

<main>
    <h2>Are you sure you would like to delete <%= production.title %> by <%= production.playwright %>?</h2>
    <div>
        <form action="/productions/<%= production._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Yes">
        </form>
        <br>
        <input type="submit" value="No">
    </div>
</main>

<%- include('../partials/footer') %>