<%- include('../partials/header') %>

<main>
    <div id="pFileHead">
        <h2><%= user.name %></h2>
        <% console.log(user.avatar) %>
        <% if(user.avatar){ %>
            <% console.log(user.avatar) %>
        <img class="avImg" src="<%= user.avatar %>" alt="User Picture">
        <% } else { %>
        <img class="avImg" src="https://i.imgur.com/aDIPn5u.jpg" alt="No Image">
        <% } %>
    </div>
    <br>
    <div id="pFileBody">
        <h2>Bio:</h2>
        <div><%= user.bio %></div>
        <br>
        <form action="/users/<%= user._id %>/edit" method="GET">
            <input type="submit" value="Edit Bio">
        </form>
    </div>
</main>

<%- include('../partials/footer') %>