<%- include('../partials/header') %>

<main>
    <div id="pFileHead">
        <h2><%= user.name %></h2>
        <img id="avImg" src="<%= user.avatar %>" alt="User Picture">
        <p><%= user.born %></p>
    </div><br>
    <div id="pFileBody">
        <h3>Roles: </h3>
        <table>
            <thead>
                <tr>
                    <th>Title: </th>
                    <th>Role: </th>
                </tr>
            </thead>
            <tbody>
            </tbody><br>
            <input type="submit" value="Add a Role">
        </table>
    </div>
</main>

<%- include('../partials/footer') %>